.light-theme {
	.btn-registration {
		color: #333;
	}
}

.container-connection-form {
	position: relative;
	flex-grow: 1;
	padding: 60px;

	.connection-card {
		width: 50%;
		margin: auto;

		.form-group {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
		}
	}
}
