.light-theme {
	.preview {
		box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2),0px 4px 5px 0px rgba(0,0,0,0.14),0px 1px 10px 0px rgba(0,0,0,0.12);
	}
}

.dark-theme {
	.preview {
		box-shadow: 0px 2px 4px -1px rgba(5,5,5,0.4),0px 4px 5px 0px rgba(5,5,5,0.28),0px 1px 10px 0px rgba(5,5,5,0.24);
	}
}

.custom-preview {
	position: relative;
	height: 100%;
}

swiper-container {
	height: inherit;
}

.preview {
	width: 95%;
	height: 75%;
	margin: 20px auto;
}