.light-theme {
	.elements {
		border: 1px solid var(--light-border);
		color: var(--light-primary-text);
		background: white;

		&:hover {
			border: 1px solid var(--main-blue);
		}
	}
}

.dark-theme {
	.elements {
		border: 1px solid var(--dark-border);
		color: var(--dark-primary-text);
		background: var(--dark-card-bg);

		&:hover {
			border: 1px solid var(--main-blue);
		}
	}
}

.nav {
	margin-top: 8px;
	margin-inline: auto;
	width: 95%;
	display: flex;
	flex-direction: column;
	gap: 8px;
	
	.elements {
		padding: 6px 12px;
		border-radius: 10px;
	}
}

