.light-theme {
	.elements {
		background: var(--light-card-bg);
		color: var(--light-card-text);

		&:hover {
			background: var(--light-card-bg-hover);
			color: var(--light-card-text-hover);
		}
	}
}

.dark-theme {
	.elements {
		background: var(--dark-sidebar-card-bg);
		color: var(--dark-primary-text);

		&:hover {
			background: var(--dark-card-bg-hover);
			color: var(--dark-card-text-hover);
		}
	}
}

.nav {
	display: flex;
	flex-direction: column;
}

.elements {
	margin-top: 4px;
	margin-inline: 4px;
	padding: 4px;
	font-weight: bold;
}

.input-file {
	display: none;
}