.light-theme {
	.MuiPaper-root {
		background: var(--bg-primary-light);
	}
}

.dark-theme {
	.MuiPaper-root {
		background: var(--bg-primary-dark);
	}

	svg {
		color: white;
	}

	button[aria-pressed="true"] {
		svg {
			color: #777;
		}
	}
}

.MuiPaper-root {
	position: relative !important;
	height: max-content;
}

h6 {
	color: black;
}

input {
	width: 100px;
}