.light-theme {
	.MuiPaper-root {
		background: var(--bg-primary-light);
	}
}

.dark-theme {
	.MuiPaper-root {
		background: var(--bg-primary-dark);
	}

	svg {
		color: white;
	}

	button[aria-pressed="true"] {
		svg {
			color: #777;
		}
	}
}

.toolsbar {
	position: relative;
	float: left;
}

.MuiPaper-root {
	display: flex;
	flex-wrap: wrap;
}