.light-theme {
	.btn-search {
		background-color: var(--light-body-bg);
		border-color: var(--light-card-btn-bg);
		color: var(--light-primary-text);

		&:hover {
			background-color: var(--light-card-btn-bg);
			color: white;
		}
	}

	.cards {
		button {
			background-color: var(--light-card-btn-bg);
			border-color: var(--light-card-btn-bg);
	
			&:hover {
				background-color: var(--light-card-btn-bg-hover);
				border-color: var(--light-card-btn-bg-hover);
			}
		}
	}

	.home-card {
		background: var(--light-home-card-bg);
		color: var(--light-card-text);
	}
}

.dark-theme {

	.select-search {
		background-color: var(--dark-home-search);
		border-color: var(--dark-home-search-border);
		color: var(--dark-primary-text);
	}

	.form-select {
		--bs-form-select-bg-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27%3e%3cpath fill=%27none%27 stroke=%27%23c7c7c7%27 stroke-linecap=%27round%27 stroke-linejoin=%27round%27 stroke-width=%272%27 d=%27m2 5 6 6 6-6%27/%3e%3c/svg%3e");
		background-image: var(--bs-form-select-bg-image),var(--bs-form-select-bg-icon,none);
	}

	.input-search {
		background-color: var(--dark-home-input);
		border-color: var(--dark-home-search-border);
		color: var(--dark-primary-text);
	}

	.btn-search {
		background-color: var(--dark-body-bg);
		border-color: var(--dark-card-btn-bg);
		color: var(--dark-primary-text);

		&:hover {
			background-color: var(--dark-card-btn-bg);
		}
	}

	.cards {
		button {
			background-color: var(--dark-card-btn-bg);
			border-color: var(--dark-card-btn-bg);
	
			&:hover {
				background-color: var(--dark-card-btn-bg-hover);
				border-color: var(--dark-card-btn-bg-hover);
			}
		}
	}


	.home-card {
		background: var(--dark-home-card-bg);
		color: var(--dark-card-text);
	}
}

.home {
	position: relative;
}

.search {
	width: 60% !important;
}

.cards {
	width: 80%;
	margin: auto;

	.slogan {
		width: 80%;
		margin: auto;
	}
	
	.home-card {
		border: none;
		border-radius: 30px;
	}
}


