/* Light theme */
.light-theme {
	.navbar {
		background: var(--light-navbar-bg);
		
		.navbar-brand,
		.nav-link {
			color: var(--light-primary-text);
		}
	}
}

/* Dark theme */
.dark-theme {
	.navbar {
		background: var(--dark-navbar-bg);

		.navbar-brand,
		.nav-link {
			color: var(--dark-primary-text);
		}
	}
}

/* General */
header {
	position: relative;
}

a:hover {
	text-decoration: underline;
}

/* Switch theme */
form {
	height: inherit;
	width: 70px;
	margin-right: 16px;
	
	.form-switch {
		height: 100%;
		padding: 0;
		
		.form-check-input {
			height: 100%;
			width: 100% !important;
			margin: 0;
		}
	}
}


