/* Light theme */
.light-theme {
	.navbar {
		background: var(--light-navbar-bg);
	}
}

/* Dark theme */
.dark-theme {
	.navbar {
		background: var(--dark-navbar-bg);
	}
}

/* General */
header {
	position: relative;
}

.navbar,
.navbar-brand,
.nav-link,
.btn-link {
	color: var(--navbar-text);

	&:hover {
		color: var(--navbar-text);
	}
}

a:hover {
	text-decoration: underline;
}

/* Switch theme */
.form-switch {
	margin-top: auto;
	margin-bottom: auto;
}