.light-theme {
    .template-card {
        border: 1px solid #bdbdbd;
        color: var(--light-primary-text);
        background: #f4f4f4;
    }
}

.dark-theme {
    .template-card {
        border: 1px solid #242424;
        color: var(--dark-primary-text);
        background: var(--dark-card-bg);
    }
}

.templates {
    position: relative;
    flex-grow: 1;
}

.template-card {
    border-radius: 16px;
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }
}