.light-theme {
    .template-card {
        background: var(--light-template-card-bg);
        color: var(--light-card-text);
    }
}

.dark-theme {
    .template-card {
        background: var(--dark-template-card-bg);
        color: var(--dark-card-text);
    }
}

.templates {
    position: relative;
}

.template-card {
    border: none;
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }
}