:root {
	--dark-body-bg: #333; 
	--dark-primary-text: white;
	--dark-secondary-text: #c7c7c7; 
	--dark-navbar-bg: #4678c6; 
	--dark-home-input: #3e3e3e;
	--dark-home-search: #484848;
	--dark-home-search-border: #7b7b7b;
	--dark-home-card-bg: #515151; 
	--dark-card-btn-bg: #4678c6;
	--dark-card-btn-bg-hover: #3360a6;
	--dark-border-search: #dfe8f5;
	--dark-template-card-bg: #515151;
	--dark-portfolio-card-bg: #515151;
	--dark-card-text: #fff;
	--dark-toolbar-bg: #484848;
	--dark-sidebar-card-bg: #515151;
	--dark-sidebar-card-bg-hover: #5986cc;

	--light-body-bg: white;
	--light-primary-text: #333; 
	--light-secondary-text: #484848; 
	--light-navbar-bg: #4678c6 ; 
	--light-home-card-bg: #cedbf0; 
	--light-card-btn-bg: #4678c6;
	--light-card-btn-bg-hover: #3360a6;
	--light-border-search: #222;
	--light-template-card-bg: #cedbf0;
	--light-portfolio-card-bg: #cedbf0;
	--light-card-text: #484848;
	--light-toolbar-bg: white;
	--light-sidebar-card-bg: white;
	--light-sidebar-card-bg-hover: #cedbf0;

	--navbar-text: #e8e8e8;
}

.light-theme {
	color: var(--light-primary-text) !important;
	background: var(--light-body-bg);
	height: 100%;
}

.dark-theme {
	color: var(--dark-primary-text) !important;
	background: var(--dark-body-bg);
	height: 100%;
}

html,
body,
#root {
	min-height: 100%;
	height: 100%;
	margin: 0;
	font-family: Roboto, "Helvetica Neue", sans-serif;
	font-weight: 400;
}