.light-theme {
	.btn-connection {
		color: #333;
	}
}

.container-registration-form {
	padding: 60px;
	
	.registration-card {
		width: 50%;
		margin: auto;

		.form-group {
			display: flex;
			flex-direction: row;
			justify-content: space-between;

			.half-width {
				width: 49%;
			}
		}
	}
}
