.light-theme {
	.btn-connection {
		color: #333;
	}
}

.container-registration-form {
	position: relative;
	flex-grow: 1;
	padding: 60px;
	
	.registration-card {
		margin: auto;
		width: 50%;
		border-radius: 20px;

		.card-header {
			margin: 4px;
			border-radius: 20px;
			text-align: center;
		}

		.form-group {
			display: flex;
			flex-direction: row;
			justify-content: space-between;

			.half-width {
				width: 49%;
			}
		}
	}
}
